body{
    text-align: center;
    font-family: "Arial"";
}

#cabecera{
    background: #33A url("css/images.png");
    color: white;
    margin: 0;
    padding: 0.5em 0 0.5em 2em;
}

#cabecera #logo{
    width: 20px;
    vertical-align: middle;
}

#footer
{
    background: #777;
    color: white;
    text-align: center;
    padding: 0.5em;
}